/* Setup
============================================================*/
body {
  font-family: Verdana;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  overflow-x: hidden;
  color: #646464;
  background-color: #efefef !important;
  max-width: 100%;
  font-kerning: none;
  -webkit-font-smoothing: antialiased; }

#wrapper {
  margin: 0 auto !important;
  padding: 0 !important; }

a, a:hover, a:focus, button:focus {
  outline: 0 !important;
  text-decoration: none !important;
  color: inherit; }

a {
  color: #a71478; }
  a:hover {
    color: #000; }

.clearfix {
  clear: both; }

p {
  margin-bottom: 25px;
  z-index: 3; }

.row {
  position: relative; }

.tbl {
  display: table; }
  .tbl .inner {
    display: table-cell;
    vertical-align: middle; }

.aligncenter {
  margin: 0 auto 25px; }

.alignright {
  margin: 0 0 30px 25px; }

.alignleft {
  margin: 0 25px 30px 0; }

hr {
  background: #a71478;
  color: #a71478;
  height: .04em;
  margin: 0 0 1em; }

ul {
  display: inline-block;
  margin-bottom: 25px; }

img {
  max-width: 100%;
  height: auto; }

img.wp-post-image, img.attachment-thumbnail, img.attachment-medium, img.attachment-large, img.attachment-full {
  margin: 0 auto; }

ul.owl-carousel {
  padding-left: 0;
  margin-bottom: 0; }

.no-overflow {
  overflow: hidden; }

/* ELEMENTS
=====================================================================*/
.graybg {
  background-color: #f3f1f1; }

.ltgray-bg {
  background-color: #eaeaea; }

.green-bg {
  background-color: rgba(180, 190, 129, 0.5); }

.white {
  color: #fff; }

.btn, .post-entry a, .read-more {
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 19px;
  text-decoration: none !important;
  text-align: center;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  z-index: 3;
  position: relative; }

.btn-green, .read-more {
  background: #b4be81;
  color: #fff;
  padding: 8px 25px; }

.btn-greenborder {
  border: 2px solid rgba(180, 190, 129, 0.3);
  color: #b4be81; }

.btn-border {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff; }

.read-more {
  width: 145px;
  display: inline-block; }

.read-more a {
  color: #fff !important;
  text-decoration: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Playfair Display', serif; }

h1 {
  font-size: 4.5em;
  color: #333;
  font-weight: 300; }

/*98px*/
h2 {
  font-size: 3.75em;
  color: #68ceff; }

/*63px*/
h3, .sidebar .widget-title, .sidebar .widget-title-home h3 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif; }

/*55px*/
h4 {
  font-size: 1.3em;
  font-weight: 600; }

h5 {
  font-size: 1em;
  font-weight: 600; }

/*24px*/
h6 {
  font-size: 1em; }

/*30px*/
h1.border, h3.border {
  text-align: center;
  position: relative;
  font-family: 'Playfair Display', serif;
  font-weight: 300; }

h1.border:after, h3.border:after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background: #b4be81;
  margin: 30px auto; }

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0; }
  .social-icons li + li {
    margin-left: 8px; }
  .social-icons a {
    display: block; }
  .social-icons .fa {
    height: 40px;
    width: 40px;
    font-size: 16px;
    line-height: 39px;
    margin: 0;
    color: #fff;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: all .4s;
    position: relative;
    -webkit-transition: all .4s; }
    .social-icons .fa:hover {
      background: #fff;
      color: #333; }

.pad-v-xs {
  padding-top: 15px;
  padding-bottom: 15px; }

.pad-v-sm {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw; }

.pad-v-md {
  padding-top: 5vw;
  padding-bottom: 5vw; }

.pad-v-lg {
  padding-top: 8.333333vw;
  padding-bottom: 8.333333vw; }

.pad-xs {
  padding: 15px; }

.pad-sm {
  padding: 30px; }

.pad-md {
  padding: 5vw; }

.pad-lg {
  padding: 8.333333vw; }

.nopad {
  padding: 0; }

.nopad-bottom {
  padding-bottom: 0; }

.nopad-top {
  padding-top: 0; }

.nopad-left {
  padding-left: 0; }

.nopad-right {
  padding-right: 0; }

.nomar {
  margin: 0; }

.nomar-right {
  margin-right: 0; }

.nomar-left {
  margin-left: 0; }

.nomar-top {
  margin-top: 0; }

.nomar-bottom {
  margin-bottom: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.img.border-right, .img.border-left {
  display: inline-block;
  position: relative; }

.img.border-right:before, .img.border-right:after, .img.border-left:before, .img.border-left:after {
  content: '';
  position: absolute;
  top: 10px; }

.img.border-right:before {
  left: 10px;
  z-index: 3;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-top: 2px solid #fff;
  border-left: 2px solid #fff; }

.img.border-right:after {
  left: 10px;
  z-index: 2;
  height: 100%;
  width: 100%;
  border: 2px solid #b4be81; }

.img.border-left:before {
  right: 10px;
  z-index: 3;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff; }

.img.border-left:after {
  right: 10px;
  z-index: 2;
  height: 100%;
  width: 100%;
  border: 2px solid #b4be81; }

.ltgray-bg .img.border-left:before {
  border-color: #eaeaea; }

.greencol-left:before, .greencol-right:before, .graycol-left:before, .graycol-right:before, .whitecol-left:before, .whitecol-right:before {
  content: '';
  position: absolute;
  top: 0;
  width: 16.66666666vw;
  height: 100%;
  display: inline-block; }

.greencol-left:before {
  left: 0;
  background: rgba(180, 190, 129, 0.5); }

.greencol-right:before {
  right: 0;
  background: #eaeaea;
  background: rgba(180, 190, 129, 0.5); }

.graycol-left:before {
  left: 0;
  background: #eaeaea; }

.graycol-right:before {
  right: 0;
  background: #eaeaea; }

.whitecol-left:before {
  left: 0;
  background: #f6f6f6; }

.whitecol-right:before {
  right: 0;
  background: #f6f6f6; }

/* SECTIONS
=====================================================================*/
/* HEADER */
#header {
  position: relative;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in; }
  #header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 8; }
  #header > * {
    position: relative;
    z-index: 9; }
  #header ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  #header .btn {
    background: #fff; }
  #header .social-icons li {
    display: inline-block; }

/* STICKY HEADER */
#stickyHeader {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.9);
  height: 100px;
  padding: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  transition: 0.4s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
  display: block; }
  #stickyHeader #logo {
    left: 10px;
    top: 25px; }
    #stickyHeader #logo a {
      display: block; }
  #stickyHeader .btn {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    padding: 0; }
    #stickyHeader .btn .fa {
      display: block;
      position: relative;
      left: 0;
      top: 1px;
      font-size: 18px;
      line-height: 40px; }
    #stickyHeader .btn strong, #stickyHeader .btn span {
      display: none; }
  #stickyHeader nav {
    position: relative;
    right: 100px; }
  #stickyHeader.slideDown {
    top: 0; }

/* INCREDIBLE MENU */
.incredible-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .incredible-menu > li {
    display: flex;
    position: relative; }
  .incredible-menu li {
    padding: 0.5rem 0.5rem !important; }
  .incredible-menu .sub-menu {
    display: none;
    min-width: 200px;
    position: absolute;
    top: 100%;
    left: 0; }
  .incredible-menu .menu-item-has-children:hover > .sub-menu {
    display: block; }

#footer {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  padding-bottom: 25vh;
  background: #a71478; }
  #footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0; }
  #footer .social-icons li {
    display: inline-block; }
  #footer > .row {
    padding: 10vh 0; }
  #footer h3 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 20px; }
  #footer h4 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 15px; }
  #footer .contact {
    margin: 5vh 0 3vh; }
    #footer .contact .col:not(:last-child) {
      border-right: 1px solid #fff; }
  #footer .wpcf7 {
    padding: 35px;
    border: #333 2px solid;
    background: #efefef; }
    #footer .wpcf7 .wpcf7-text, #footer .wpcf7 .wpcf7-textarea {
      background: rgba(255, 255, 255, 0.45);
      border: 1px solid rgba(153, 153, 153, 0.5);
      box-shadow: #999999 1px 1px 1px;
      color: #333;
      width: 100%;
      margin-bottom: 25px;
      padding: 12px; }
    #footer .wpcf7 input[type=submit] {
      padding: 10px 40px;
      color: #fff;
      margin: 0 auto;
      cursor: pointer;
      border: 1px solid; }
      #footer .wpcf7 input[type=submit]:hover {
        background-color: #fff; }
  #footer #map {
    display: block;
    position: absolute !important;
    top: 50%;
    left: 0;
    width: 100%;
    height: 80% !important; }

.address-map {
  display: block;
  position: relative;
  bottom: -180px;
  text-align: center;
  color: #fff;
  width: 200px;
  padding-top: 70px;
  margin: -70px auto 0; }

#footer-bottom .copyright {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  text-align: center;
  color: #333; }
  #footer-bottom .copyright a {
    color: #a71478; }
    #footer-bottom .copyright a:hover {
      color: #333; }
      #footer-bottom .copyright a:hover .incredible-marketing-logo {
        -webkit-animation: pop .5s;
        animation: pop .5s; }
  #footer-bottom .copyright .incredible-marketing-logo {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #A71478;
    border-color: #A71478;
    -webkit-transition: all .2s;
    transition: all .2s;
    display: inline-block;
    margin-left: 2px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px; }
    #footer-bottom .copyright .incredible-marketing-logo svg {
      display: block;
      position: relative;
      width: 15px;
      fill: #fff;
      -webkit-transition: all .2s;
      transition: all .2s;
      top: 1px; }
#footer-bottom .social-icons {
  margin: 3vh 0; }
  #footer-bottom .social-icons li {
    display: inline-block; }
    #footer-bottom .social-icons li:hover .fa {
      background: #a71478;
      color: #fff; }
    #footer-bottom .social-icons li .fa {
      border: 2px solid #333;
      color: #333; }

#hero {
  height: 100vh;
  padding: 0;
  display: table;
  overflow: hidden;
  margin: 0; }

#hero .inner {
  display: table-cell;
  vertical-align: middle; }

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: auto;
  max-width: none;
  z-index: -1;
  -webkit-animation: kenburns-top 20s ease-out both;
  animation: kenburns-top 20s ease-out both; }

#hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover; }

#hero:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.1); }

#hero .inner .info {
  display: block;
  position: relative;
  width: 800px;
  margin: 0 auto;
  z-index: 2; }

#hero .inner .info h1 {
  font-size: 79px;
  font-weight: 400;
  color: white;
  font-family: "Playfair Display SC";
  line-height: 79px;
  margin-bottom: 10px;
  text-transform: none;
  text-align: center; }

#hero .inner .info .row:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

#hero .inner .info .row:first-of-type div {
  text-align: center;
  font-size: 21px;
  line-height: 24px;
  font-weight: 300;
  color: #b4be81;
  font-family: "Open Sans";
  padding: 5px; }

#hero .inner .info .row:first-of-type div:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3); }

#hero .inner .info .row:last-of-type div {
  padding: 0 20px;
  margin-top: 30px; }

#hero .inner .info .btn {
  padding: 8px 40px; }

#hero #procedures {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 3vw;
  left: 8.33333333vw;
  width: 83.333333334vw;
  z-index: 9; }

#hero #procedures ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#hero #procedures h3 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  height: 40px; }

#hero #procedures h3:before {
  content: '';
  display: inline-block;
  height: 13px;
  width: 13px;
  background: #b4be81;
  margin-right: 10px; }

#hero #procedures p {
  font-size: 14px;
  color: #fff;
  line-height: 1.7em; }

#hero #procedures .item {
  padding: 25px; }

#hero #procedures .owl-stage .owl-item:nth-child(1) {
  background: rgba(180, 190, 129, 0.7); }

#hero #procedures .owl-stage .owl-item:nth-child(2) {
  background: rgba(180, 190, 129, 0.5); }

#hero #procedures .owl-stage .owl-item:nth-child(3) {
  background: rgba(180, 190, 129, 0.3); }

#hero #procedures .owl-stage .owl-item:nth-child(4) {
  background: rgba(180, 190, 129, 0.1); }

#hero #procedures .owl-nav {
  position: absolute;
  top: 40%;
  left: -40px;
  width: calc(100% + 80px); }

#hero #procedures .owl-nav [class*=owl-] {
  position: absolute;
  background: transparent;
  color: #b4be81;
  font-size: 35px; }

#hero #procedures .owl-nav .owl-next {
  right: 0; }

#hero #procedures .owl-nav .owl-prev {
  left: 0; }

#hero #procedures .owl-dots {
  display: none; }

#p-rotator .item {
  position: relative;
  width: 480px;
  overflow: hidden; }

#p-rotator .item img {
  margin: 0; }

#p-rotator .item h3 {
  position: absolute;
  bottom: -35px;
  margin: 0;
  right: 10px;
  opacity: 0;
  color: #fff;
  z-index: 3;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-align: right;
  transition: bottom .3s .6s linear; }

#p-rotator .owl-item.center h3 {
  bottom: 10px;
  opacity: 1; }

#p-rotator .item a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3; }

#p-rotator:after {
  content: '';
  display: block;
  height: 100%;
  width: 33.3333%;
  background: red; }

#p-rotator .owl-nav {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  background: #f6f6f6;
  width: 7vw;
  height: 100%; }

#p-rotator .owl-nav [class*=owl-] {
  position: absolute;
  left: 30px;
  background: transparent;
  color: #b4be81;
  font-size: 35px; }

#p-rotator .owl-nav .owl-prev {
  top: calc(50% + 20px); }

#p-rotator .owl-nav .owl-next {
  top: calc(50% - 20px); }

#p-rotator .owl-dots {
  display: none; }

.procedures {
  overflow: hidden;
  margin-top: 5vw;
  margin-bottom: 5vw; }

.procedures .cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); }

.procedures .info {
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: all .6s linear; }

.procedures-rotator .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate-x(-50%);
  width: 100%;
  z-index: 10; }

.procedures-rotator .owl-nav [class*=owl-] {
  position: absolute;
  background: transparent;
  color: #b4be81;
  font-size: 35px; }

.procedures-rotator .owl-nav .owl-next {
  right: 0; }

.procedures-rotator .owl-nav .owl-prev {
  left: 0; }

.procedures-rotator .owl-dots {
  display: none; }

.procedures-rotator .item {
  height: 500px;
  overflow: hidden; }

.procedures-rotator .item img {
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  width: 100%;
  height: auto; }

.procedures-rotator .item:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.procedures-rotator .item h3 {
  position: absolute;
  bottom: 15px;
  margin: 0;
  text-align: center;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0; }

.procedures-rotator .item .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0; }

.procedures-rotator .item:hover .btn {
  transform: translate(-50%, -50%);
  opacity: 1; }

.cta p {
  margin: 0; }

.cta a {
  font-weight: bold;
  margin-left: 30px; }

.page-header {
  height: 50vh !important;
  border: none; }
  .page-header .info {
    margin-top: 15vh !important; }
  .page-header h1, .page-header h4 {
    text-align: center !important;
    -webkit-animation: tracking-in-expand 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.6s both; }
  .page-header h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px; }

.related-posts ul {
  list-style-type: none; }

.related-posts h3 {
  font-size: 2em;
  font-family: "Playfair Display SC";
  margin-bottom: 30px; }

.related-posts h4 {
  min-height: 70px; }

.related-posts h4 a {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #b4be81; }

.post-img {
  padding: 0 !important; }

.related-posts li .post-excerpt p:first-of-type {
  line-height: 1.5em;
  margin: 0;
  min-height: 215px; }

.related-posts li .post-excerpt p:last-of-type {
  display: none; }

.related-posts .owl-dots {
  margin-top: 20px; }

.related-posts .owl-nav {
  position: absolute;
  top: calc(50% - 11px);
  margin: 0;
  width: calc(100% + 80px);
  left: -40px; }

.related-posts .owl-nav [class*=owl-] {
  margin: 0;
  border-radius: 0;
  position: absolute; }

.related-posts .owl-nav .owl-next {
  right: 0; }

.related-posts .owl-nav .owl-prev {
  left: 0; }

.testimonials-rotator .item img {
  width: auto !important;
  border-radius: 50%; }

article {
  clear: both; }

article h1 {
  word-break: break-word;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif; }

article h1 a {
  color: #666; }

.post-meta {
  clear: none;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "myriad-pro",sans-serif; }

.post-meta > span {
  margin-right: 20px; }

.post-meta .fa {
  margin-right: 5px; }

.sidebar {
  text-align: center;
  padding-left: 0 !important; }

.sidebar ul {
  display: block;
  padding-left: 0;
  text-align: left;
  border-left: 2px solid #eaeaea;
  list-style-type: none; }

.sidebar .widget-wrapper li {
  border-bottom: 1px dashed #eaeaea;
  transition: all .6s linear; }

.sidebar .widget-wrapper li:hover {
  background: #bac38c; }

.sidebar .widget-wrapper li:hover a {
  color: #fff; }

.sidebar .widget-wrapper li a {
  padding: 6px 8px;
  color: #bac38c; }

.sidebar .widget-wrapper li.current_page_item {
  background: #eaeaea; }

.sidebar .widget-wrapper li.current_page_item a {
  font-weight: bold;
  background: #eaeaea;
  color: #999; }

.sidebar > div > ul li {
  border-bottom: 1px dashed #eaeaea;
  transition: all .6s linear; }

.sidebar > div > ul li:hover {
  background: #bac38c; }

.sidebar > div > ul li:hover a {
  color: #fff; }

.sidebar > div > ul li a {
  padding: 6px 8px;
  display: block;
  color: #bac38c; }

.sidebar > div > ul .current_page_item a {
  font-weight: bold;
  background: #eaeaea;
  color: #999; }

.sidebar-gallery {
  background: #eaeaea;
  padding: 15px;
  line-height: 1em; }

.mini-gallery .owl-dots {
  display: none; }

.mini-gallery .owl-nav {
  position: absolute;
  top: calc(50% - 11px);
  margin: 0;
  width: 100%; }

.mini-gallery .owl-nav [class*=owl-] {
  margin: 0;
  border-radius: 0;
  position: absolute; }

.mini-gallery .owl-nav .owl-next {
  right: 0; }

.mini-gallery .owl-nav .owl-prev {
  left: 0; }

.mini-gallery {
  margin-bottom: 0; }

.wpcf7 {
  margin-top: 15px; }

.wpcf7-text, .wpcf7-textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #b4be81;
  color: #666;
  padding: 10px 0; }

.wpcf7-textarea {
  height: 135px; }

input:focus, textarea:focus, area:focus {
  outline: 0;
  background: transparent; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1);
    transform: scale(1); }
  33% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  66% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }
@keyframes focus-in-expand {
  0% {
    letter-spacing: -.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    opacity: 1; } }
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    opacity: 1; } }
@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%; }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top; } }
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%; }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top; } }
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }
/* BREAKPOINTS
=====================================================================*/
/* HEADERS*/
/* Header 1 - H_01 */
/* Header 2 - H_02 */
