.blog--roll {
  padding: 75px 45px 150px;

  .breadcrumb {
    font-family: $garamond-pro;
    font-style: italic;
    font-weight: 500;
    @include fontSize(24);
    line-height: em(29, 24);
    color: $charcoal;
    padding-bottom: 46px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 58px;
  }

  article {
    display: flex;
    margin-bottom: 140px;
    padding-bottom: 67px;

    img {
      margin-bottom: 25px;
      border-radius: 6px;

      @include mq(md) {
        margin-right: 100px;
      }
    }

    .btn--line {
      color: $primary;

      &::before {
        background: $primary;
        width: 11vw;
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        &::before {
          width: 13vw;
        }
      }
    }

    .post-meta {
      font-style: italic;
      font-weight: normal;
      @include fontSize(16);
      line-height: 2em;
      color: #979797;
      margin-bottom: 0;
    }
  }
}

.header--image {
  img {
    width: 100%;
    height: auto;
  }
}

.blog--single {
  .breadcrumb {
    padding-top: 75px;
    font-family: $garamond-pro;
    font-style: italic;
    font-weight: 500;
    @include fontSize(24);
    line-height: em(29, 24);
    color: $charcoal;
    margin-bottom: 54px;
    padding-bottom: 46px;
    border-bottom: 1px solid #d2d2d2;
    margin-left: 110px;

    strong {
      color: $primary;
      font-weight: 500;
    }
  }
  .post-meta {
    font-style: italic;
    font-weight: normal;
    @include fontSize(16);
    line-height: 2em;
    color: #979797;
    margin-bottom: 0;
  }

  article {
    padding: 50px 0 150px;
  }
}
