.btn-primary {
  background: transparent;
  color: $primary;
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.19em;
  font-family: $garamond-pro;
  position: relative;
  left: 0;
  transition: left 0.4s ease-in-out;

  &:hover {
    background: transparent;
    color: $primary;
    left: 15px;
  }
}

.btn--circle {
  display: flex;
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 80, 0, 0.0001);
  border: 2px solid $white;
  color: $white;
  border-radius: 100em;
  @include fontSize(24);
  line-height: em(29, 24);
  text-align: center;
  font-family: $garamond-pro;
  transition: all 0.4s ease-in-out;
  &:hover {
    background: $white;
    color: $primary;
  }

  &.btn--orange {
    color: $primary;
    border-color: $primary;

    &:hover {
      background: $primary;
      color: $white;
    }
  }
}

.btn--line {
  display: flex;
  align-items: center;
  position: relative;
  @include fontSize(24);
  line-height: em(29, 24);
  text-align: center;
  font-family: $garamond-pro;
  color: $white;
  white-space: nowrap;
  padding-right: 33px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: $white;
    margin-right: 33px;
  }
}

.btn--primary {
  font-family: $garamond-pro;
  font-style: italic;
  font-weight: 500;
  @include fontSize(24);
  line-height: em(29, 24);
  text-align: center;
  color: $white;
  background: $primary;
  width: 225px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 50px rgba(54, 67, 210, 0.25);
}
