.btn-primary {
  background: transparent;
  color: $primary;
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.19em;
  font-family: $garamond-pro;
  position: relative;
  left: 0;
  transition: left 0.4s ease-in-out;

  &:hover {
    background: transparent;
    color: $primary;
    left: 15px;
  }
}

.btn--circle {
  display: flex;
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 80, 0, 0.0001);
  border: 2px solid $white;
  color: $white;
  border-radius: 100em;
  @include fontSize(24);
  line-height: em(29, 24);
  text-align: center;
  font-family: $garamond-pro;
}
