.menu__mobile {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: -100%;
  opacity: 0;
  padding: 60px 15px;
  background-attachment: unset;
  @include mq(md) {
    padding: 60px 45px;
  }
  .logo {
    width: 240px;
    height: auto;
    margin: 0 auto 15px;
    display: flex;

    svg {
      path {
      }
    }
  }
  .site__logo {
    @include mq($until: xl) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  button {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 25px;
    background: none;
    border: none;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 35px;
    span {
      height: 3px;
      width: 35px;
      margin: 0;
      display: block;
      background: $black;
      transform: rotate(45deg);
      position: absolute;
      top: 11px;
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
  .menu {
    padding: 0;
    margin: 45px 0;
    list-style: none;
    max-height: 70%;
    height: 70%;
    overflow: auto;
    text-align: center;
    @media screen and (max-height: 600px) {
      max-height: 49%;
    }
    @include mq($until: md) {
      margin-top: 15px;
    }
    li {
      font-size: 24px;
      line-height: 2em;
      display: block;
      font-weight: 400;
      position: relative;
      left: -100%;
      @include mq(md) {
        font-size: 35px;
      }
      i {
        margin-left: 20px;
        position: absolute;
        top: 11px;
        @include mq(md) {
          top: 19px;
        }
      }
      a {
        color: $black;
        text-decoration: none !important;
        &:hover {
          color: $primary;
        }
      }
      .sub-menu {
        display: none;
        &.active {
          display: block;
        }
        li {
          left: 0;
          font-size: 1rem;
          font-weight: 300;
          @include mq(md) {
            font-size: 26px;
          }
          i {
            top: 7px;
            @include mq(md) {
              top: 14px;
            }
          }
          a {
            color: $black;
            &:hover {
              color: $primary;
            }
          }
          .sub-menu {
            li {
              font-size: 0.8em;
              letter-spacing: 0;
              i {
                top: 7px;
              }
            }
          }
        }
      }
    }
  }
  hr {
    background: $black;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .social-icons {
    justify-content: center;
    li {
      margin: 5px 15px;
      a {
        color: $black;
        font-size: 22px;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
