.site-nav {
  background: linear-gradient(
    180deg,
    #ffffff 50%,
    rgba(249, 249, 249, 0.0001) 100%
  );
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease-in-out;

  @include mq(md) {
    padding: 15px 25px;
  }
  @include mq(xl) {
    padding: 25px 90px;
  }
  @include mq(xxl) {
    padding: 4vh 11vw 40px;
  }

  body:not(.home):not(.blog):not(.single-post):not(.page) & {
    background: transparent;
    color: $white;

    .menu {
      li {
        a {
          color: $white;
        }
      }
    }
    .text,
    .call,
    .btn-contact {
      color: $white;
    }

    &.sticky {
      background: rgba($white, 0.9);
      box-shadow: rgba($black, 0.1) 4px 4px 10px;

      .menu {
        li {
          a {
            color: $charcoal;

            &:hover {
              color: $primary;
            }
          }
        }
      }
      .text,
      .call,
      .btn-contact {
        color: $charcoal;
      }
    }
  }
  .menu {
    padding: 0;
    margin: 0;
    display: none;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    width: 100%;
    justify-content: center;

    @include mq(lg) {
      display: flex;
    }

    > li {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.388em;
      text-align: center;
      margin: 0 5px;
      display: block;
      position: relative;
      text-align: left;

      @include mq(lg) {
        font-size: 18px;
      }

      &.current-menu-parent,
      &.current_page_item {
        > a {
          color: $primary !important;

          &::before {
            transform: translateX(-50%) scale(1);
          }
        }
      }

      > a {
        color: $charcoal;
        display: block;
        padding: 15px 10px;

        @include mq(lg) {
          padding: 15px;
        }

        &::before {
          content: "";
          display: block;
          width: 100px;
          max-width: 90%;
          height: 1px;
          background: $primary;
          position: absolute;
          bottom: 2.5px;
          left: 50%;
          transform: translateX(-50%) scale(0);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          color: $primary;

          &::before {
            transform: translateX(-50%) scale(1);
          }
        }
      }
      &:hover {
        > .sub-menu {
          padding: 0;
          list-style: none;
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          background: rgba($white, 0.9);
          width: 250px;

          li {
            a {
              border-bottom: 1px solid rgba($gray-font, 0.3);
              padding: 10px 15px;
              color: $charcoal;
              display: block;

              &:hover {
                background: $primary;
                color: $white;
              }
            }
            &:last-of-type {
              a {
                border-bottom: 0;
              }
            }

            &:hover {
              > .sub-menu {
                left: 100%;
                top: 0;
                padding: 0;
                list-style: none;
                display: block;
                position: absolute;
                background: rgba($white, 0.9);
                width: 250px;
              }
            }
          }
        }
      }
    }
  }

  .ssh-logo {
    width: auto;
    height: 30px;

    @include mq(md) {
      height: 40px;
    }

    @include mq(xxl) {
      height: 52px;
    }
  }

  .header--right {
    display: flex;
    align-items: center;
    margin-left: auto;

    .line {
      height: 50px;
      width: 1px;
      background: #dcdcdc;
      display: none;

      @include mq(lg) {
        display: block;
      }
    }

    .text {
      margin-right: 25px;
      font-size: 30px;
      color: $charcoal;
      display: none;

      @include mq(lg) {
        display: block;
      }

      @include mq(xl) {
        margin-right: 40px;
      }
    }

    .call {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 1.388em;
      font-weight: 800;
      color: $charcoal;
      white-space: nowrap;
      margin-left: auto;

      @include mq(md) {
        margin-left: 25px;
      }
      @include mq(lg) {
        margin-right: 25px;
      }

      @include mq(xl) {
        margin-left: 30px;
        margin-right: 101px;
      }

      strong {
        font-size: 16px;
        line-height: 1.375em;
        color: $gray-font;
        text-transform: uppercase;
        display: none;

        @include mq(md) {
          display: block;
        }
      }

      span {
        display: none;

        @include mq(md) {
          display: block;
        }
      }

      i {
        color: $white;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        border-radius: 100em;
        font-size: 15px;
        @include mq(md) {
          display: none;
        }
      }
    }

    .btn-contact {
      font-size: 16px;
      line-height: 1.375em;
      text-transform: uppercase;
      color: $charcoal;
      font-weight: 800;
      margin-left: 31px;
      display: none;

      @include mq(lg) {
        display: block;
      }
    }
  }

  button[data-toggle="menu"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 22px;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 20px;

    @include mq(lg) {
      display: none;
    }

    span {
      display: block;
      width: 22px;
      height: 2px;
      background: $charcoal;
    }

    &:focus {
      outline: none;
    }
  }

  .sub-menu {
    display: none;
  }

  // offset if WP admin bar is present
  .admin-bar & {
    top: 46px;
    @media (min-width: 783px) {
      top: 32px;
    }
  }

  &.sticky {
    padding: 13px 15px;
    background: rgba($white, 0.9);
    box-shadow: rgba($black, 0.1) 4px 4px 10px;

    @include mq(lg) {
      padding: 0 15px;
    }
    @include mq(xl) {
      padding: 0 25px;
    }

    .ssh-logo {
      @include mq(lg) {
        height: 30px;
      }
      @include mq(xl) {
        height: 40px;
      }
    }

    .menu {
      position: relative;
      top: unset;
      left: unset;
      transform: unset;

      > li {
        > a {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          padding: 0 3px;

          @include mq(xl) {
            font-size: 16px;
            padding: 0 10px;
          }
          @include mq(xxl) {
            font-size: 18px;
            padding: 0 15px;
          }

          &::before {
            bottom: 15px;
          }
        }
      }
    }

    .btn-contact,
    .text,
    .line {
      display: none;

      @include mq(lg) {
        display: none;
      }
    }

    .call {
      margin-right: 0;
      @include mq(lg) {
        margin-right: 0;
        margin-left: 15px;
      }
      @include mq(xl) {
        margin-right: 0;
        margin-left: 15px;
      }

      span,
      strong {
        font-size: 15px;
        @include mq(xxl) {
          font-size: 18px;
        }
      }
    }
  }
}
