// ==========================================================================
// Colors
// ==========================================================================

// Color Names: http://chir.ag/projects/name-that-color/

// Global
// ----------------------------------------------------------------------

$black                                   : #000000;
$white                                   : #ffffff;
$primary                                 : #a71478;

$off-white                               : #f6f6f6;
$off-black                               : #222222;
$mercury                                 : #e6e6e6;
$alto                                    : #dbdbdb;
$gray                                    : #888888;
$charcoal                                : #333332;
$pomegranate                             : #ee3228; // red
$endeavour                               : #0065b2; // blue

// Social Networks
// ----------------------------------------------------------------------

$dribbble                                : #ea4c89;
$facebook                                : #3b5998;
$linkedin                                : #007fb1;
$rss                                     : #ff6600;
$email                                   : #ffdd68;
$instagram                               : #3f729b;
$youtube                                 : #cd332d;
$vimeo                                   : #44bbff;
$tumblr                                  : #2c4762;
$pinterest                               : #e41f11;
$googleplus                              : #d14836;
$flickr                                  : #0063db;
$twitter                                 : #39a9e0;

// Alerts
// ----------------------------------------------------------------------

$success                                 : #659f13;
$success-lt                              : #f2fae3;
$error                                   : #d85030;
$error-lt                                : #fff1f0;
$warning                                 : #e28327;
$warning-lt                              : #fffceb;

$font-color                              : #000000;

// Selection
// ----------------------------------------------------------------------
$selection-highlight-background          : $primary;
$selection-highlight-color               : white;


$font-family                             : 'Open Sans', sans-serif;
$font-family-secondary                   : 'trajan-pro-3', serif;
$font-size                               : 16px;