// Global
// ----------------------------------------------------------------------

$black                                   : #000000;
$white                                   : #ffffff;
$primary                                 : #a71478;
$gray                                    : #888888;

// Incredible Color
// ----------------------------------------------------------------------
$magenta                                 : #a71478;

// Social Networks
// ----------------------------------------------------------------------

$dribbble                                : #ea4c89;
$facebook                                : #3b5998;
$linkedin                                : #007fb1;
$rss                                     : #ff6600;
$email                                   : #ffdd68;
$instagram                               : #3f729b;
$youtube                                 : #cd332d;
$vimeo                                   : #44bbff;
$tumblr                                  : #2c4762;
$pinterest                               : #e41f11;
$googleplus                              : #d14836;
$flickr                                  : #0063db;
$twitter                                 : #39a9e0;

// Alerts
// ----------------------------------------------------------------------

$success                                 : #659f13;
$success-lt                              : #f2fae3;
$error                                   : #d85030;
$error-lt                                : #fff1f0;
$warning                                 : #e28327;
$warning-lt                              : #fffceb;

// Selection
// ----------------------------------------------------------------------
$selection-highlight-background          : $primary;
$selection-highlight-color               : $white;