// ==========================================================================
// Mixins
// ==========================================================================

@mixin overflow-wrap() {
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
