html {background:white;}

*:last-child {margin-bottom:0;}

.site-wrap {overflow:hidden;}

// Remove subpixel-antialiased default but keep for retina resolutions.
// http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
*,
*:after,
*:before {box-sizing:border-box; -webkit-font-smoothing:antialiased;
	@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
		only screen and (min-device-pixel-ratio: 1.25),
		only screen and (min-resolution: 200dpi),
		only screen and (min-resolution: 1.25dppx) {
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
::-moz-selection {background:$selection-highlight-background; color:$selection-highlight-color; text-shadow:none;}
::selection {background:$selection-highlight-background; color:$selection-highlight-color; text-shadow:none;}
