// ==========================================================================
// Helpers
// ==========================================================================

%hidden {
    /*
     * Hide visually and from screen readers:
     * http://juicystudio.com/article/screen-readers-display-none.php
     */
    display: none !important;
    visibility: hidden;
}

%visuallyhidden {
    /*
     * Hide only visually, but have it available for screen readers:
     * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;

    }
}

%invisible {
    /*
    * Hide visually and from screenreaders, but maintain layout
    */
    visibility: hidden;
}


/* Flex Order
   ========================================================================== */

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

@each $breakpoint,
$size in $grid-breakpoints {
    @media(min-width: #{$size}) {
        .order-#{breakpoint}-1 {
            order: 1 !important;
        }

        .order-#{breakpoint}-2 {
            order: 2 !important;
        }

        .order-#{breakpoint}-3 {
            order: 3 !important;
        }
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
    }
}


/* Visibility
   ========================================================================== */

.visuallyhidden,
.screen-reader-text {
    @extend %visuallyhidden;
}