// ==========================================================================
// Typography
// ==========================================================================

$font-family                             : 'Open Sans', sans-serif;
$font-family-secondary                   : 'trajan-pro-3', serif;
$font-size                               : 16px;
