.block--background_with_centered_content {
  .image__holder {
    position: relative;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .column-1 {
    @include mq(xl) {
      padding: 0 45px;
    }
  }

  .content--area {
    transform: translateY(-19vw);
    margin-bottom: -10vw;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 25px 75px rgba(54, 67, 210, 0.1);
    padding: 50px 9vw;

    @include mq(md) {
      padding: 90px 9vw;
    }

    h2 {
      margin-bottom: 30px;
      &:not(:first-child) {
        margin-top: 35px;
        @include mq(md) {
          margin-top: 75px;
        }
      }
    }
  }
}
