.block--hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20vh;
  overflow: hidden;
  z-index: 0;

  @include mq(md) {
    align-items: unset;
    padding-top: 36vh;
  }

  &::after {
    content: "";
    @include absolute_cover;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.0001) 60.98%,
      #ffffff 97.32%
    );
    z-index: -2;
  }
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }

  h1 {
    margin-bottom: 3vh;
  }

  p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.23em;
    margin-bottom: 4vh;
    @include mq(xxl) {
      font-size: 1.5rem;
      margin-bottom: 6vh;
    }
  }
  .btn {
    margin-bottom: 11vh;
  }
  .image--holder {
    @include absolute_cover;
    background: $white;
    z-index: -3;
    img {
      @include absolute_cover;
      object-fit: cover;
      opacity: 1;
    }
  }

  .social-icons {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: none !important;
    flex-direction: column;
    z-index: 9;

    @include mq(md) {
      display: flex !important;
    }

    li {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        border: 2px solid $primary;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        transition: all 0.4s ease-in-out;
        border-radius: 100em;

        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
  }

  .box--shadow {
    position: absolute;
    width: 90%;
    height: 65vh;
    left: 0px;
    bottom: 8vh;
    background: #f0f5ff;
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: -1;

    @include mq(md) {
      top: 26vh;
      width: 530px;
      height: 575px;
      bottom: unset;
    }
  }

  h1 {
    margin-bottom: 10vh;
  }

  h5 {
    margin-bottom: 14px;
  }

  .btn-primary {
    padding-left: 15px;
    &::before {
      content: "";
      display: block;
      width: 10vw;
      height: 2px;
      background: $primary;
      position: absolute;
      right: 103%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
