.block--homepage_insurance {
  .logo--area {
    @include mq($until: xxl) {
      padding: 0;
    }
  }
  .logo--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    grid-template-areas:
      "a b c"
      "d e f"
      "g h i";
    align-items: center;

    @include mq(md) {
      grid-template-areas:
        ". . . . ."
        ". a b c ."
        ". d e f ."
        ". g h i ."
        ". . . . .";
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    @include mq(xxl) {
      width: calc(100% + 28px);
      margin-left: -28px;
    }

    .item-1 {
      grid-area: a;
    }
    .item-2 {
      grid-area: b;
    }
    .item-3 {
      grid-area: c;
    }
    .item-4 {
      grid-area: d;
    }
    .item-5 {
      grid-area: e;
    }
    .item-6 {
      grid-area: f;
    }
    .item-7 {
      grid-area: g;
    }
    .item-8 {
      grid-area: h;
    }
    .item-9 {
      grid-area: i;
    }

    .square {
      border-left: 1px solid #d2d2d2;
      border-top: 1px solid #d2d2d2;

      width: 100%;
      height: 150px;

      @include mq($until: md) {
        display: none;
      }

      @include mq(md) {
        height: 225px;
      }

      @include mq(xxl) {
        width: 225px;
      }

      &:nth-of-type(16),
      &:nth-of-type(18),
      &:nth-of-type(20) {
        border-left: 0;
      }
      &:nth-of-type(22),
      &:nth-of-type(23),
      &:nth-of-type(24) {
        border-top: 0;
      }
    }

    .item {
      border-top: 1px solid $primary;
      border-left: 1px solid $primary;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;

      @include mq(md) {
        height: 225px;
      }

      @include mq(xxl) {
        width: 225px;
      }

      &:nth-child(3n) {
        border-right: 1px solid $primary;
        @include mq($until: md) {
          border-right: none;
        }
      }

      &:nth-child(n + 7) {
        border-bottom: 1px solid $primary;
      }

      img {
        max-width: 80%;
        height: auto;
      }
    }
  }

  .content--area {
    align-self: center;
    padding: 90px 15px;

    @include mq(md) {
      padding: 90px;
    }

    @include mq(xl) {
      padding: 0 65px 0 39px;
    }

    h3 {
      color: $primary;
      font-style: italic;
      font-weight: 500;
      @include fontSize(42);
      line-height: em(50, 42);
      margin-bottom: 28px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 25px;
        height: 4px;
        position: absolute;
        top: 25px;
        right: 103%;
        background: $primary;

        @include mq($until: md) {
          display: none;
        }
      }
    }
    .btn--orange {
      position: relative;
      margin-left: auto;

      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 90%;
        top: 50%;
        transform: translateY(-50%);
        width: 70vw;
        height: 2px;
        background: $primary;

        @include mq(xl) {
          width: 40vw;
        }
      }
    }
  }
}
