.block--homepage_service {
  background: $primary;
  color: $white;
  padding: 100px 15px;
  z-index: 1;

  @include mq(lg) {
    padding: 200px 0 200px 60px;
  }

  .image--top {
    position: relative;
    z-index: 0;
    max-width: 100%;

    @include mq(lg) {
      transform: translateY(-35vw);
      margin-bottom: -38vh;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &::before {
      content: "";
      background: url(/wp-content/uploads/2020/04/circle.png) center / cover
        no-repeat;
      position: absolute;
      left: 50%;
      top: 46%;
      transform: translate(-50%, -50%);
      height: 78vw;
      width: 78vw;
      z-index: -1;
    }
  }

  h4 {
    @extend h5;
    color: $white;
    margin: 0;
  }

  h2 {
    font-style: italic;
    font-weight: 500;
    color: $white;
    line-height: em(149, 124);
    letter-spacing: 1.85vw;
    color: $white;
    margin-bottom: 50px;
    position: relative;
    z-index: -1;
    @include fontSize(75);

    @include mq(md) {
      @include fontSize(124);
    }

    &::after {
      content: "";
      height: 350px;
      width: 350px;
      background: rgba(216, 216, 216, 0.0001);
      mix-blend-mode: normal;
      opacity: 0.1;
      border: 2px solid $white;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-14%, -50%);
      border-radius: 100em;
      z-index: -1;
    }
  }

  .list--services {
    padding: 0;
    margin: 0 0 100px;
    column-count: 2;
    column-gap: 1.5vw;
    list-style: none;

    @include mq(xl) {
      column-gap: 3vw;
    }

    li {
      padding-left: 19px;
      position: relative;

      &::before {
        content: "\f0da";
        font-family: $fontawesome;
        color: $white;
        font-size: 20px;
        font-weight: bold;
        top: 5px;
        left: 0;
        position: absolute;

        @include mq(xxl) {
          top: 11px;
        }
      }

      a {
        color: $white;
        font-weight: 800;
        @include fontSize(18);
        line-height: em(56, 24);
        left: 0;
        display: inline-block;
        position: relative;
        transition: all 0.4s ease-in-out;

        @include mq(xxl) {
          @include fontSize(24);
        }

        &:hover {
          left: 10px;
        }
      }
    }
  }

  .column-1 {
    display: flex;
    flex-direction: column;
  }

  .image--bottom {
    max-width: 100%;
    height: auto;
    display: none;
    align-self: flex-end;
    margin-top: auto;

    @include mq(lg) {
      display: flex;
    }

    img {
      max-width: 100%;
      height: auto;
      padding: 20px;
      background: $primary;
      border: 1px solid $white;
      border-radius: 100em;

      @include mq(xl) {
        padding: 50px;
      }
    }
  }

  h3 {
    font-style: italic;
    font-weight: 500;
    @include fontSize(52);
    line-height: em(56, 52);
    position: relative;
    padding-left: 15px;
    z-index: 0;

    &::after {
      content: "";
      height: 200px;
      width: 200px;
      mix-blend-mode: normal;
      opacity: 0.1;
      border: 2px solid $white;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-28%, -50%);
      border-radius: 100em;
      z-index: -1;
    }
  }

  p {
    padding-left: 15px;
    padding-right: 25px;
    @include fontSize(18);
    line-height: em(56, 24);
    margin-bottom: 40px;

    @include mq(xl) {
      @include fontSize(20);
    }

    @include mq(xxl) {
      @include fontSize(24);
    }
  }

  .btn--circle {
    margin-left: auto;
    position: relative;

    .line {
      height: 2px;
      width: 70vw;
      background: $white;
      position: absolute;
      top: 50%;
      right: 90%;
      z-index: -1;

      @include mq(lg) {
        width: 39vw;
      }
    }
  }
}
