.block--homepage_process {
  padding: 100px 0;
  color: $white;
  z-index: 0;

  @include mq(xl) {
    padding: 200px 0;
  }

  .image__holder {
    @include absolute_cover();
    z-index: -1;

    img {
      @include absolute_cover();
      object-fit: cover;
      height: 100%;
    }
  }

  h2,
  h4 {
    text-align: center;
  }

  h4 {
    @extend h5;
    color: $white;
  }

  h2 {
    font-style: italic;
    font-weight: 500;
    line-height: em(149, 124);
    letter-spacing: 1.85vw;
    margin-bottom: 45px;
    color: $white;
    @include fontSize(75);

    @include mq(md) {
      @include fontSize(124);
    }

    @include mq(xl) {
      margin-bottom: 89px;
    }
  }

  .grid--content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10vw 5vw;
    padding: 0;

    @include mq(md) {
      padding: 0 15px;
      grid-gap: 10vw 5vw;
      grid-template-columns: 1fr 1fr;
    }

    @include mq(lg) {
      padding: 0 45px;
      grid-gap: 9vw 10vw;
    }

    .content--single {
      padding-left: 0;
      position: relative;

      @include mq(md) {
        padding-left: 90px;
      }

      @include mq(lg) {
        padding-left: 150px;
      }

      .icon {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 25px 25px;
        float: right;

        @include mq(md) {
          float: none;
          margin: 0;
          position: absolute;
        }
        @include mq(lg) {
          margin: 38px;
          position: absolute;
        }
      }

      h3 {
        font-style: italic;
        font-weight: 500;
        @include fontSize(42);
        line-height: em(50, 42);
        margin-bottom: 16px;
      }
    }
  }
}
