.block--large_image_section {
  margin: 75px 0 0 100px;
  z-index: 0;

  .image__holder {
    @include absolute_cover();
    z-index: -1;
    background: #00072c;

    img {
      @include absolute_cover();
      object-fit: cover;
      z-index: -1;
      opacity: 0.5;
    }

    &::after {
      content: "";
      @include absolute_cover;
      background: linear-gradient(
        270deg,
        rgba(0, 7, 44, 0.0001) 23.62%,
        #00072c 100%
      );
      z-index: 0;
    }
  }

  .image--section {
    padding: 100px 0;
    color: $white;
    position: relative;
    overflow: hidden;
    min-height: 800px;
    display: flex;
    align-items: flex-end;
  }

  h2 {
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 4px;
      width: 25px;
      background: $primary;
      position: absolute;
      top: 25px;
      right: 103%;
    }
  }

  .breadcrumb {
    font-family: $garamond-pro;
    font-style: italic;
    font-weight: 500;
    @include fontSize(24);
    line-height: em(29, 24);
    color: $charcoal;
    margin-bottom: 54px;
    padding-bottom: 46px;
    border-bottom: 1px solid #d2d2d2;
    margin-left: 110px;

    strong {
      color: $primary;
      font-weight: 500;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 35px;
    list-style: none;
    column-count: 2;
    column-gap: 1vw;

    li {
      padding-left: 19px;
      font-weight: 600;

      &::before {
        content: "\f0da";
        font-family: $fontawesome;
        color: $white;
        font-size: 20px;
        font-weight: bold;
        margin-left: -18px;
        margin-right: 11px;
      }
    }
  }
}
