.block--large_image_section {
  margin: 75px 0 0 15px;
  z-index: 0;

  @include mq(md) {
    margin: 75px 0 0 5vw;
  }

  .image__holder {
    @include absolute_cover();
    z-index: -1;
    background: #00072c;

    img {
      @include absolute_cover();
      object-fit: cover;
      z-index: -1;
      opacity: 0.5;
      object-position: 60%;

      @include mq(md) {
        object-position: unset;
      }
    }

    &::after {
      content: "";
      @include absolute_cover;
      background: rgba(#00072c, 0.7);
      z-index: 0;

      @include mq(md) {
        background: linear-gradient(
          270deg,
          rgba(0, 7, 44, 0.0001) 23.62%,
          #00072c 100%
        );
      }
    }
  }

  .image--section {
    padding: 50px 0;
    color: $white;
    position: relative;
    overflow: hidden;
    min-height: 500px;
    display: flex;
    align-items: flex-end;

    @include mq(md) {
      padding: 5vw 0;
    }

    @include mq(xl) {
      min-height: 800px;
    }

    > .row {
      margin: 0;
    }
  }

  h2 {
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 4px;
      width: 25px;
      background: $primary;
      position: absolute;
      top: 25px;
      right: 103%;

      @include mq($until: md) {
        display: none;
      }
    }
  }

  .breadcrumb {
    font-family: $garamond-pro;
    font-style: italic;
    font-weight: 500;
    @include fontSize(24);
    line-height: em(29, 24);
    color: $charcoal;
    margin-bottom: 54px;
    padding-bottom: 46px;
    border-bottom: 1px solid #d2d2d2;

    @include mq(lg) {
      margin-left: 5.2vw;
    }

    strong {
      color: $primary;
      font-weight: 500;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 35px;
    list-style: none;
    column-count: 1;
    column-gap: 1vw;

    @include mq(sm) {
      column-count: 2;
    }

    li {
      padding-left: 19px;
      font-weight: 600;

      &::before {
        content: "\f0da";
        font-family: $fontawesome;
        color: $white;
        font-size: 20px;
        font-weight: bold;
        margin-left: -18px;
        margin-right: 11px;
      }
    }
  }
}
