.block--recent_blogs {
  background: $primary;
  color: $white;
  padding: 80px 0;

  @include mq(md) {
    padding: 60px 15px;
  }
  @include mq(lg) {
    padding: 60px 110px;
  }

  h2,
  h5 {
    text-align: center;
    color: $white;
  }

  h2 {
    font-style: italic;
    font-weight: 500;
    line-height: em(149, 124);
    letter-spacing: 0.5vw;
    margin-bottom: 34px;
    @include fontSize(65);

    @include mq(md) {
      letter-spacing: 1.2vw;
      @include fontSize(100);
    }
    @include mq(lg) {
      @include fontSize(114);
    }
    @include mq(xl) {
      letter-spacing: 1.45vw;
      @include fontSize(124);
    }
    @include mq(xxl) {
      letter-spacing: 1.85vw;
      @include fontSize(124);
    }
  }

  .grid--articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;

    @include mq(md) {
      grid-gap: 100px;
      grid-template-columns: 1fr 1fr;
    }
    @include mq(xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    h2 {
      text-align: left;
      margin-bottom: auto;

      a {
        font-style: italic;
        font-weight: 500;
        @include fontSize(35);
        line-height: em(50, 42);
        color: $white;
        letter-spacing: 0;
        text-align: left;

        @include mq(xxl) {
          @include fontSize(42);
        }
      }
    }

    img {
      display: none !important;
    }

    p {
      color: $white;
    }

    .content--area {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .post-meta {
    font-size: 14px;
    line-height: em(32, 14);
    font-style: italic;
    margin-bottom: 0;
    margin-top: auto;
  }

  article {
    display: flex;
    flex-direction: column;
    height: 100%;
    .btn--line {
      margin-top: auto;
    }
  }
}
