.block--two_column_with_blue_box {
  margin: 108px 0 296px;
  position: relative;
  padding: 45px 0 61px;

  .box--blue {
    background: $light-blue;
    display: block;
    width: calc(100% - 50px);
    left: 50px;
    top: 0;
    height: 100%;
    position: absolute;
  }

  h2 {
    font-style: italic;
    font-weight: 500;
    @include fontSize(124);
    line-height: em(149, 124);
    letter-spacing: 1.85vw;
    color: $primary;

    strong {
      display: block;
      @extend h5;
      letter-spacing: 0;
      margin-bottom: 10px;
    }
  }

  h3 {
    font-style: italic;
    font-weight: 500;
    @include fontSize(72);
    line-height: em(82, 72);
    color: $primary;
    padding-right: 4vw;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 4px;
      background: $primary;
      position: absolute;
      right: 103%;
      top: 30px;
    }
  }

  .content-2 {
    padding: 30px 45px 0;
  }
}
