article{clear:both;}
article h1{word-break: break-word;font-size: 2em;font-weight: 300;margin-bottom: 10px;font-family: 'Open Sans', sans-serif;}
article h1 a{color:#666;}
.post-meta{clear:none;margin-bottom:20px;font-size:12px;text-transform:uppercase;font-family: "myriad-pro",sans-serif;}
.post-meta > span{margin-right:20px;}
.post-meta .fa{margin-right:5px;}
