.page-header{
  height:50vh !important;
  border:none;
  
  .info{
    margin-top: 15vh !important;
  }
  
  h1, h4{
    text-align:center !important;
    -webkit-animation:tracking-in-expand 1.6s cubic-bezier(.215,.61,.355,1.000) 1s both;
    animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) 1.6s both;
  }
  
  h4{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}