.pad-v-xs{padding-top:15px;padding-bottom:15px;}
.pad-v-sm{padding-top:2.5vw;padding-bottom:2.5vw;}
.pad-v-md{padding-top:5vw;padding-bottom:5vw;}
.pad-v-lg{padding-top:8.333333vw;padding-bottom:8.333333vw;}
.pad-xs{padding:15px;}
.pad-sm{padding:30px;}
.pad-md{padding:5vw}
.pad-lg{padding:8.333333vw;}

.nopad{padding: 0;}
.nopad-bottom{padding-bottom:0;}
.nopad-top{padding-top:0;}
.nopad-left{padding-left:0;}
.nopad-right{padding-right: 0;}

.nomar{margin: 0;}
.nomar-right{margin-right: 0;}
.nomar-left{margin-left:0;}
.nomar-top{margin-top: 0;}
.nomar-bottom{margin-bottom: 0;}