#p-rotator .item{position:relative;width:480px;overflow:hidden;}
#p-rotator .item img{margin:0;}
#p-rotator .item h3{position: absolute;bottom:-35px;margin:0;right: 10px;opacity:0;color: #fff;z-index: 3;font-size: 16px;font-weight: 400;text-transform: uppercase;letter-spacing: 0px;text-align:right;transition:bottom .3s .6s linear;}
#p-rotator .owl-item.center h3{bottom:10px;opacity:1;}
#p-rotator .item a{display:block;position:absolute;top:0;left:0;height:100%;width:100%;z-index:3;}
#p-rotator:after{content:'';display:block;height:100%;width:33.3333%;background:red;}
#p-rotator .owl-nav{margin: 0;position: absolute;top: 0;right: 0;z-index: 4;background: #f6f6f6;width:7vw;height: 100%;}
#p-rotator .owl-nav [class*=owl-]{position:absolute;left:30px;background: transparent;color: rgb(180, 190, 129);font-size: 35px;}
#p-rotator .owl-nav .owl-prev{top: calc(50% + 20px);}
#p-rotator .owl-nav .owl-next{top: calc(50% - 20px);}
#p-rotator .owl-dots{display:none;}

.procedures{overflow:hidden;margin-top:5vw;margin-bottom:5vw;}
.procedures .cover{position:absolute;top:0;left:0;z-index:3;display:block;height:100%;width:100%;background:rgba(0,0,0,.3);}
.procedures .info{position:absolute;opacity:1;left: 50%;top:50%;transform: translate(-50%,-50%);z-index:10;transition:all .6s linear;}
.procedures-rotator .owl-nav{position:absolute;top:50%;left:0;transform: translate-x(-50%);width:100%;z-index:10;}
.procedures-rotator .owl-nav [class*=owl-]{position:absolute;background: transparent;color: rgb(180, 190, 129);font-size: 35px;}
.procedures-rotator .owl-nav .owl-next{right:0;}
.procedures-rotator .owl-nav .owl-prev{left:0;}
.procedures-rotator .owl-dots{display:none;}
.procedures-rotator .item{height:500px;overflow:hidden;}
.procedures-rotator .item img{-webkit-transition-duration: 3s;transition-duration: 3s;-webkit-transform: scale(1);transform: scale(1);width: 100%;height: auto;}
.procedures-rotator .item:hover img{-webkit-transform: scale(1.2);transform: scale(1.2);}
.procedures-rotator .item h3{position: absolute;bottom: 15px;margin: 0;text-align: center;display: block;width: 100%;text-transform: uppercase;font-size: 20px;padding: 0;}
.procedures-rotator .item .btn{position:absolute;top:50%;left:50%;transform: translate(-50%,0);opacity:0;}
.procedures-rotator .item:hover .btn{transform: translate(-50%,-50%);opacity:1;}