.social-icons {
	list-style:none;
	margin:0;
	padding:0;
	li + li {
		margin-left:8px;
	}
	a {
		display:block;
	}
	.fa{
		height:40px;
		width:40px;
		font-size:16px;
		line-height:39px;
		margin:0;
		color:#fff;
		border-radius:100%;
		border:2px solid rgba(255,255,255,.2);
		text-align:center;
		transition: all .4s;
		position: relative;
		-webkit-transition:all .4s;
		&:hover{
			background: #fff;
			color: #333;
		}
	}
}
